<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="이름" /></h1>
      <div class="grid grid-2col">
        <div class="resource">
          <label class="resource-label">수량</label>
          <input type="text" name="system.quantity" value="{{system.quantity}}" data-dtype="Number" />
        </div>
        <div class="resource">
          <label class="resource-label">물건 칸 (Slots)</label>
          <input type="text" name="system.weight" value="{{system.weight}}" data-dtype="Number" />
        </div>
      </div>
    </div>
  </header>

  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">설명</a>
    <a class="item" data-tab="attributes">속성</a>
  </nav>

  <section class="sheet-body">
    <div class="tab" data-group="primary" data-tab="description">
      {{editor system.description target="system.description" rollData=rollData button=true owner=owner editable=editable}}
    </div>
    
    <div class="tab attributes" data-group="primary" data-tab="attributes">
      
      {{!-- 무기 설정 섹션 --}}
      <div class="form-group">
        <label>{{localize "RAVE.SheetLabels.IsWeapon"}}</label>
        <input type="checkbox" name="system.isWeapon" {{checked system.isWeapon}}/>
      </div>

      {{#if system.isWeapon}}
      <div class="form-group">
        <label>{{localize "RAVE.SheetLabels.AttackAbility"}}</label>
        <select name="system.ability">
          {{#select system.ability}}
          <option value="str">{{localize "RAVE.Ability.Str.long"}}</option>
          <option value="dex">{{localize "RAVE.Ability.Dex.long"}}</option>
          <option value="wis">{{localize "RAVE.Ability.Wis.long"}}</option>
          <option value="wil">{{localize "RAVE.Ability.Wil.long"}}</option>
          {{/select}}
        </select>
      </div>
      {{/if}}

      <div class="resource">
        <label class="resource-label">판정/피해 공식 (Damage Formula)</label>
        <input type="text" name="system.formula" value="{{system.formula}}" data-dtype="String" placeholder="예: 1d6"/>
      </div>
    </div>
  </section>
</form>
